<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <title>Empresa Up</title>
</head>
<body>

    <nav id="menu-h">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="projetos.html">Projeto</a></li>
            <li><a href="sobreNos.html">Sobre nós</a></li>
            <li><a href="faleConosco.html">Fale Conosco</a></li>
            
        </ul>
    </nav>
    <section  class='home'>

        <div class='swiper home-slider'>

            <div id="close-swiper"></div>
    
            <div class='swiper-wrapper'>

                <div id="swiper-close"></div>
    
                <div class='swiper-slide slide'>
                    <div class='image'>
                        <img src='../images/1.jpg' alt=''>
                    </div>
                </div>
        
                <div class='swiper-slide slide'>
                    <div class='image'>
                        <img src='../images/2.jpg' alt=''>
                    </div>
                </div>
        
                <div class='swiper-slide slide'>
                    <div class='image'>
                        <img src='../images/3.jpg' alt=''>
                    </div>
    
            </div>
    
            <div class='swiper-button-next'></div>
            <div class='swiper-button-prev'></div>
    
        </div>
    
    </section>
    <br>
    <br>
    <nav id="rodápe">
        <footer>Empresa UP - Conectando você ao futuro - 2023
            <br>
            <br>
            <br>
            <ul>
                <li><a href="projetos.html">Projeto</a></li>
                <li><a href="sobreNos.html">Sobre nós</a></li>
                <li><a href="faleConosco.html">Fale Conosco</a></li>
            </ul>
        </footer>
    </nav>

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <script src="../js/script.js"></script>

</body>

</html>
