<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Empresa Up</title>
</head>
<body>

    <nav id="menu-h">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="projetos.html">Projeto</a></li>
            <li><a href="sobreNos.html">Sobre nós</a></li>
            <li><a href="faleConosco.html">Fale Conosco</a></li>
            
        </ul>
    </nav>
    <div id="main-banner">
        <div id="search-form">
            <h1>A maneira mais fácil de encontrar seu novo emprego</h1>
            <p>Conecte-se de forma gratuita as melhores empresas e consiga o emprego dos seus sonhos.</p>			
            <form>
                <input type="text" name="job" placeholder="Digite o cargo">
                <select name="region">
                    <option value="">Todos os estados</option>
                </select>
                <select name="category">
                    <option value="">Categoria</option>
                </select>
                <input type="submit" value="Pesquisar">
            </form>
        </div>
    </div>
    <br>
    <br>
    <nav id="rodape">
        <footer>Empresa UP - Conectando você ao futuro - 2023
            <br>
            <br>
            <br>
            <ul>
                <li><a href="projetos.html">Projeto</a></li>
                <li><a href="sobreNos.html">Sobre nós</a></li>
                <li><a href="faleConosco.html">Fale Conosco</a></li>
            </ul>
        </footer>
    </nav>

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <script src="../js/script.js"></script>

</body>

</html>
