@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu-h{
    align-items: center;
    justify-content: center;
    background-color: #10162e;
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #b3cfff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: 300ms ease-in-out;
}

#menu-h ul li a:hover {
    background-color: #1565ed;
    color: #FFF;
    transition: 300ms ease-in-out;
}

#rodápe footer ul li a {
    color: #b3cfff;
}

#rodápe footer{
    background-color: #10162e;
    color: #fff;
}

#rodápe footer ul li a:hover {
    color: #FFF;
    transition: 300ms ease-in-out;
}

.home {
    background: #fff;
  }
  
  .home .slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
    min-height: 40rem;
    padding: 2rem 0;
  }
  
  .home .slide .image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
    text-align: center;
  }
  
  .home .slide .image img {
    height: 30rem;
  }
  
  .home .slide .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
  }
  
  .home .slide .content span {
    font-size: 2rem;
    color: #0984e3;
  }
  
  .home .slide .content h3 {
    padding-top: .5rem;
    color: rgb(0, 0, 0);
    font-size: 3rem;
  }
  
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 3rem;
    color: rgb(0, 0, 0);
  }
