@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu-h{
    align-items: center;
    justify-content: center;
    background-color: #10162e;
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #b3cfff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: 300ms ease-in-out;
}

#menu-h ul li a:hover {
    background-color: #1565ed;
    color: #FFF;
    transition: 300ms ease-in-out;
}

#rodápe footer ul li a {
    color: #b3cfff;
}

#rodápe footer{
    background-color: #10162e;
    color: #fff;
}

#rodápe footer ul li a:hover {
    color: #FFF;
    transition: 300ms ease-in-out;
}

#main-banner {
	background: url('../images/1.jpg') no-repeat;
	background-size: cover;
	background-position: 0 55%;
	position: relative;
	margin-top: 0,5px;
}

#banner {
	background-color: #3381f3;
	background-size: cover;
	background-position: 0 55%;
	position: relative;
	margin-top: 0,5px;
}

#search-form {
	position: relative;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15em;
	padding-bottom: 15em;
	text-align: center;
}

#search-form h1 {
	font-size: 40px;
  color: #FFF;
}

#search-form p {
	margin-top: 30px;
	margin-bottom: 60px;
	font-size: 18px;
	font-weight: 300;
  color: #FFF;
}

#search-form input, #search-form select, #sendjobs input, #sendjobs select, #sendjobs textarea {
	background-color: #FFF;
	border-radius: 5px;
	border-color: transparent;
	padding: 10px 20px;
	font-size: 18px;
	margin: 0 10px;
}

#search-form input[type=submit], #sendjobs input[type=submit] {
	background-color: #3381f3;
	text-transform: uppercase;
	color: #FFF;
	cursor: pointer;
	transition: 0.5s;
}

#search-form input[type=submit]:hover, #sendjobs input[type=submit]:hover {
	background-color: #2B79EB;
}

#VRD{
	color: #FFF;
	background-color: #10162e;
	border-radius:10px;
	border-color: #FFF;
	width: 20%;
	height: 20%;
}