@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu-h{
    align-items: center;
    justify-content: center;
    background-color: #10162e;
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #b3cfff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: 300ms ease-in-out;
}

#menu-h ul li a:hover {
    background-color: #1565ed;
    color: #FFF;
    transition: 300ms ease-in-out;
}

#rodápe footer ul li a {
    color: #b3cfff;
}

#rodápe footer{
    background-color: #10162e;
    color: #fff;
}

#rodápe footer ul li a:hover {
    color: #FFF;
    transition: 300ms ease-in-out;
}

#slider-container {
  width: 100%;
  height: 400px;
  position: relative;
}

#slider-container img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#prev-button, #next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

#prev-button  {
  left: 0;
  border-radius: 70px;
  background-color: #00000000;
  height: 400px;
  width: 200px;
}

#next-button {
  right: 0;
  border-radius: 70px;
  background-color: #00000000;
  height: 400px;
  width: 200px;
}

#prev-button:hover, #next-button:hover {
  background-color: #00000000;
  color: #FFF;
}

#slider-container img {
  transition: opacity 1s ease-in-out;
}

#slider-container img:first-child {
  opacity: 1;
}

#slider-container img:not(:first-child) {
  opacity: 0;
}

#slider-container img.active {
  opacity: 1;
}