/* CSS base (para todas as telas) */
html {
  font-family: 'sans-serif', sans-serif;
  background-color: #011e11;
}

body {
  margin: 0;
}

/* Container principal */
.App {
  background-color: #011e11;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Nome do aplicativo à esquerda */
.app-name-left {
  position: absolute;
  top: 0; /* Coloca o elemento no topo */
  font-size: 30px;
  color: #12ff46;
  text-align: center; /* Centraliza o texto */
  margin-right: 420px;
}

/* Conteúdo principal */
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

/* Conteúdo à esquerda */
.left-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  color: #fff;
  text-align: left;
  padding: 20px;
  box-sizing: border-box;
}

/* Slogans */
.slogan,
.slogan2,
.slogan3 {
  text-align: left;
  letter-spacing: 2px;
  color: #D9D9D9;
  font-size: 50px;
  line-height: 1.5em;
}

/* Botão de início */
.start-button {
  text-align: center;
  font-family: 'Holt';
  background-color: #12ff46;
  font-size: 30px;
  color: black;
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
  padding: 15px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fonteBotao {
  font-size: 30px;
  font-family: 'Russo One', sans-serif;
}

/* Conteúdo à direita */
.right-content {
  flex: 1;
  text-align: center;
  margin-top: 20px;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* Media queries para telas menores */
@media (max-width: 768px) {
  .slogan,
  .slogan2,
  .slogan3 {
    font-size: 20px;
  }

  .start-button {
    font-size: 5px;
  }

  .app-name-left {
    font-size: 15px; /* Tamanho menor para telas menores */
    margin-top: 5px; /* Margem superior menor para telas menores */
  }

  .fonteBotao {
    font-size: 10px;
  }

}

/* Media query para telas maiores */
@media (min-width: 1200px) {

  .content{
    width: 100%;
    height: 100%;
  }
  
  .slogan,
  .slogan2,
  .slogan3 {
    font-size: 60px; /* Ajuste para telas maiores */
  }

  .start-button {
    font-size: 50px;
  }

  .app-name-left {
    font-size: 40px; /* Tamanho menor para telas maiores */
    margin-top: 30px; /* Margem superior menor para telas maiores */
  }

  .fonteBotao {
    font-size: 30px;
  }
}
