/*body {
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
}

.app-container {
  background-color: #011e11;
  display: flex; /* Adicionado para centralizar verticalmente 
  text-align: left;
  justify-content: center; // Adicionado para centralizar horizontalmente 
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #7fff00;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Holt';
  src: local('Holt'), url(./fonts/HoltwoodOneSC-Regular.ttf) format('truetype');
}

.Titulo {
  font-family: 'Holt';
  color: #7fff00;
  margin-top: -250px;
  font-size: 25px;

  
}

.slogan {
 
  color: white;
  margin-top: 160px; /* Espaçamento superior entre os textos 
  margin-right: 750px; /* Centraliza horizontalmente 
  font-size: 50px;

}

.slogan1 {
  
  color: white;
  text-align: left;
  font-size: 50px;
}

.slogan2 {
  
  color: white;
  text-align: left;
  font-size: 50px; 
 }

.start-button {
  font-family: 'Holt';
  background-color: #7fff00;
  color: black;
  margin-top: 140px; /* Ajuste a margem superior conforme necessário */
  /* margin-left: 100px; Remova esta linha para centralizar horizontalmente 
  display: block; /* Para ocupar toda a largura disponível 
  margin-left: 200px; /* Centraliza horizontalmente 
  margin-right: auto; /* Centraliza horizontalmente 
  width: 500px;
  height: 55px;
}
.Logo{
  text-align: center;
}

*/

/* App.css */

html {
  font-family: 'sans-serif', sans-serif;
  background-color: #011e11;
}

.App {
  background-color: #011e11;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 98vh; /* Defina a altura da tela inteira ou ajuste conforme necessário */
}

.header {
  display: flex;
  justify-content: space-between;
  width: 80%; /* Ajuste a largura do cabeçalho conforme necessário */
  margin-top: 20px;
}

.app-name-left {
  margin-top: 80px;
  font-family: 'Russo One', sans-serif;
  color: #12ff46;
  font-size: 30px;
  text-align: left; /* Alinhe o nome do aplicativo à esquerda */
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%; /* Ajuste a largura do conteúdo conforme necessário */
  margin-top: 20px;
}

.left-content {
  display: flex;
  flex-direction:column;
  width: 50%;
  height: 80%;
  text-align: left;
  margin-left: 100px;
}

.slogan {
  margin-left: 80px;
  margin-top: 40px;
  font-family: 'DM Sans', sans-serif;
  color: #fff;
  font-size: 90px; /* Tamanho menor para o slogan */
}

.slogan2 {
  margin-left: 80px;
  font-family: 'DM Sans', sans-serif;
  color: #fff;
  font-size: 90px; /* Tamanho menor para o slogan */
}

.slogan3 {
  margin-left: 80px;
  font-family: 'DM Sans', sans-serif;
  color: #fff;
  font-size: 90px; /* Tamanho menor para o slogan */
}

.start-button {
  text-align: center;
  margin-left: 80px;
  font-family: 'Holt';
  background-color: #12ff46;
  font-size: 30px;
  color: black;
  margin-top: 100px; /* Ajuste a margem superior conforme necessário */
  display: block; /* Para ocupar toda a largura disponível */
  width: 500px;
  height: 55px;
  border-radius: 100px;
  padding: 35px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fonteBotao {
  font-size: 30px;
  font-family: 'Russo One', sans-serif;
}

.right-content {
  margin-bottom: 200px;
  width: 50%;
  text-align: right;
}

.logoimg {
  margin-left: 100px;
  width: 600px;
  height: 600px;
}
