.chakrabox {
  width: 200px;
  background:  #0f8852;
  color: white;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.botaoLateral {
  color: #fff;
  background-color: teal;
  border: 1px solid teal;
  margin-bottom: 20px;
  height: 5%;
  width: 100%;
}

.botaoLateral:hover {
  background-color: #011e11;
  color: #fff;
}

.botaoLateral:focus {
  outline: none;
}

.botaoLateral:active {
  background-color: #7fff00;
}

.botaoLateral:focus,
.botaoLateral:active {
  border: none;
}

.botaoLateral {
  justify-content: flex-start;
  border-width: 1px;
}

.botaoChat {
  color: #fff;
  background-color: teal;
  border: 1px solid teal;
  height: 5%;
  width: 100%;
  margin-top: auto;
  cursor: pointer; /* Define um cursor de apontador para indicar a interatividade */
  transition: background-color 0.3s, color 0.3s; /* Adiciona transições suaves para hover e focus */
}

.botaoChat:hover {
  background-color: #011e11;
  color: white;
}

.botaoChat:focus {
  outline: none;
  border: none;
}

.botaoChat:active {
  background-color: #7fff00;
}

.botaoDeslogar {
  color: #fff;
  background-color: teal;
  border: 1px solid teal;
  height: 5%;
  width: 100%;
  margin-top: 1rem; /* Em CSS puro, você pode usar valores como "1rem" para espaçamento */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.botaoDeslogar:hover {
  background-color: #011e11;
  color: white;
}

.botaoDeslogar:focus {
  outline: none;
  border: none;
}

.botaoDeslogar:active {
  background-color: #7fff00;
}

.flexContainer {
  flex: 1;
  justify-content: center;
  font-size: 20px;
  font-family: "poppins", sans-serif;
  background-color: #0a5a36;
  color: white;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 2rem;
  position: absolute;
  top: 0;
  margin-top: 20px;
}

.tamanhoTabela {
  max-width: 1700px;
  width: 100%;
  padding-top: 10px;
  padding-right: 2px;
  padding-bottom: 10px;
  padding-left: 2px;
}

.tabela {
  padding: 1%;
  font-size: 9px;
  position: absolute;
  top: 90px; /* Lembre-se de especificar a unidade, como 'px' */
  background-color: #4CAF50;
  border-collapse: collapse; /* Para remover espaços entre as células */
}

.tabela th, .tabela td {
  padding: 1px;
  text-align: left; /* Alinhamento do conteúdo das células */
  border-bottom: 1px solid white; /* Linha inferior nas células */
}

.tabela tbody tr:nth-child(odd) {
  padding: 1px;
  background-color: rgba(255, 255, 255, 0.1); /* Cor de fundo listrada */
}

.tabela tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3); /* Cor de fundo ao passar o mouse */
}

.imagemParque {
  width: 50px;
  height: 50px;
}

.botaoNovoCadastro {
  background-color: #7fff00;
  color: black;
  border: none;
  padding: 8px 16px; /* Ajuste o preenchimento conforme necessário */
  cursor: pointer;
}

.botaoNovoCadastro:hover {
  background-color: #7fff00;
  /* Adicione estilos adicionais para o hover, se necessário */
}
