/* HomeAdm.css */

/* Estilos para o menu lateral */
.sidebar {
    width: 200px;
    background: linear-gradient(to left, #7fff00, #011e11);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .sidebar-item {
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s;
  }
  
  .sidebar-item.active {
    color: #7fff00;
  }
  
  /* Estilos para a tabela */
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4CAF50;
  }
  
  .table {
    width: 100%;
    margin: 10px 0;
    border-collapse: collapse;
    background-color: #4CAF50;
  }
  
  .th {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    text-align: left;
  }
  
  .td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #4CAF50;
  }
  
  .pencil-icon {
    margin-right: 10px;
    cursor: pointer;
  }
  
  .trash-icon {
    cursor: pointer;
  }
  
  .cell {
    border-right: 1px solid #ddd;
  }
  
  .add-button {
    background-color: #4CAF50;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 80px;
  }
  
  /* Outros estilos conforme necessário */
  